* {
    padding: 0;
    margin: 0;
    font-family: "inter", sans-serif;
    list-style: none;
}

.navbar .container .navbar-brand {
    color: hsl(226, 53%, 43%);
    font-weight: bold;
}

.navbar .nav.item {
    font-weight: bold;
}

.img-image {
    width: 100%;
}

.siadam {
    align-items: center;
}

.siadam1 {
    width: 1440px;
    height: 125px;
    padding: 1px;
    background-image: url(image/Rectangle64.png);
    background-size: cover;
}

.siadam2 h2 {
    font-weight: bold;
}

.bagian4 {
    background: linear-gradient(129deg, rgba(42, 59, 89, 1) 0%, rgba(90, 93, 98, 0.5242471988795518) 59%, rgba(20, 28, 41, 0.12368697478991597) 82%, rgba(255, 255, 255, 0.35898109243697474) 83%);
    border-radius: 10px;
    padding: 5px;
}

.siadam4 {
    width: 1440px;
    height: 869px;
}

.footer {
    padding: 80px 0 80px 0;
    background-color: #0D1C37;
    color: white;
}

.jaraktepi {
    padding: 0 30px 0 30px;
}

.medsos ul li {
    display: inline-block;
    color: #fff;
}